@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html,body{
line-height: 1.4;
font-weight: 300;
 font-family: "Dancing Script", cursive;
 font-size: 30px;
 background-color: rgb(219, 227, 227);
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
 box-shadow: 5px 5px 5px rgba(1,1,1,0.5);
 position: sticky;
 top: 0;
 margin-bottom: 32px;
 background-color: wheat;
 padding: 10px;
}
.menu{
    font-size: 30px;
}

.hero{
    display: flex;
    justify-content: center;
    
}
.heroimage,img{
    max-height: 500px;
    max-width: 600px;
     padding-top: 30px;
}
.context{
    display: flex;
    flex-direction: column;
    text-align:justify;
    padding-left: 60px;
    max-width: 600px;
    font-size: 28px;
    padding-top:70px;
}
.tag{
    background-color: greenyellow;
    align-self:flex-start;
    padding: 5px 10px;
}
button{
    background-color: rgb(220, 191, 155);
    padding: 10px 40px ;
    border: none;
    align-self: flex-start;

}
.features{
    margin-top: 40px;
  display: flex;
}
.feature{
    display: flex;
    gap: 20px;   
}

@media (max-width : 786px) {
    .hero{
        flex-direction: column;
        
    }
    .hero,img{
        width: 90%;
       padding-left: 20px;
    }
  .menu{
        padding-top: 28px;
        padding-left: 80px;
    }
    .foot_container{
        flex-direction: column;
    }
     
}

.divider{
    border: 1px solid black;
    margin: 20px 0;
}
.things{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 50px;
    align-items: center;
}
.things .tag{
    align-self: center;
}
.grid{
    display : grid;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
} 

.item1{
    grid-area: I1;
}.item2{
    grid-area: I2;
}.item3{
    grid-area: I3;
}.item4{
    grid-area: I4;
   
}.item5{
    grid-area: I5;
}.item6{
    grid-area: I6;
}.item7{
    grid-area: I7;
}
.gridimage{
    border-radius: 55px;
    transition: 0.25 ease-in-out;
   
}
.gridimage:hover{
    transform: scale(1.05);
    transition: 0.25 ease-in-out;
}
footer{
    background-color: rgb(226, 232, 230);
    width: 100%;
}
.foot_container{
padding :30px;
display: flex;
justify-content:space-between;


}