*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner{
    background-color: #e5e5fd;
    min-height: 200vh;
    border: 10px solid pink;
}
.content{
    max-width: 900px;
    margin: 0px auto;
  
}
.top-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    
}
.top-section,h1{
    font-size: 40px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
    text-align: left;

}
.top-section,h3{ 
    font-size: 20px;
    text-align: end;
    
     
}
.img{
    border-radius: 50%;
  overflow: hidden;
}.img,img{
    height: 300px;
    width: 300px;
   
    
} 
.about{
 margin-top : 30px;
 
}
.about,h2{
    font-size: 30px;
    font-weight: 800px;
    margin-bottom: 20px;
}.about p{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    

}
.ach,h3{
    margin-right: 400px;
}
.biogarphy{
    margin: 50px 0;
    margin-bottom: 80px;

}
.biogarphy,h3{
      margin-bottom: 15px;
}
.biogarphy,ul{
      margin-top: 5px;
      margin-left: 50px;
}.biogarphy,li{
      margin-top: 10px;
}
.foot{
    margin: 50px 0;
}
.foot, p {
   text-align: end;
   
}
body{
    border: 30px solid rgb(207, 218, 187);
    background-image: url("images/img4.jpg");
    background-size: cover;
}