*{
    margin: 0;
    padding: 0 31px;
    box-sizing: border-box;
}
html,body{
    height: 80%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #a73e3e;
    padding : 0px 50px;
}
.pimg1{
    background-image: url("img1.jpg");
    background-position: cover;
    min-height: 100%;
     
     
}
.pimg2{
    background-image: url("img2.jpg");
    background-position: cover;
     height: 100%;
    
     
     
    
}
.pimg3{
    background-image: url("img3.jpg");
    background-position: cover;
    min-height: 100%; 
}
.pimg4{
    background-image: url("img4.jpg");
    background-position: cover;
    min-height: 100%;
  
    
     
     
}

.pimg1, .pimg2,.pimg3,.pimg4
{  
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;

}
.ptext{
    color: rgb(243, 22, 210);
    font-size: 35px;
   letter-spacing: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    top:40%    
    
}
.textbg{
    background-color: black;
    padding : 6px;
    color: rgb(221, 229, 229)
}
.sec-one{
    padding: 50px 80px ;
    line-height: 30px;
      background: #f4f4f4;
      
}
.sec-one,h2{
    text-align: center;
    color: #a73e3e;
   
}
.sec-one,p{
  text-align: justify;
  font-size: 15px;
  color: black;
 
 

}
.sec-two{
   padding: 50px 80px ;
    line-height: 30px;
   
}
.sec-two,p{
  text-align: justify;
  font-size: 15px;
 
  font-weight: bold;

}
.sec-three{
   padding: 50px 80px ;
    line-height: 30px;
   
}
.sec-three,p{
  text-align: justify;
  font-size: 15px;
 
  font-weight: bold;

}